.container{
    text-align: center;
    margin-top: 3px;
}
table{
    margin: auto;
}

input{
    border:3px solid #be2edd;
    font-size: 37px;
    width: auto;
    border-radius: 15px;
}

button{
    font-size: 40px;
    background: #b8d8e9; 
    /* background: #7ed6df; */
    width: 102px;
    height: 65px;
    border-radius: 12px;
    margin: 6px;
}

button:hover{
    background-color:#686de0 ;
}
.calculator{
    display: inline-block;
    background: #e988d7;
    padding: 10px;
    border-radius: 43px;
    border:4px solid #075873;
}

body{
    background-color: #d1f7e0;
}

h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    background: #ee57b7;
}